<!--Название меню-->
{% for node in nodes %}
    {% if node.parent is None %}
        {{ node.name }}
    {% endif %}
{% endfor %}
<!--Само меню-->
{% for name in names_list %}
    {% for node in nodes %}
        {% if node.name == name%}
            <p>IN LIST: <a href="{{node.url}}">{{ node.name }}</a></p>
            {% for child in nodes %}
                {% if child.parent == node and child.name not in names_list %}
                    <p>CHILD: <a href="{{child.url}}">{{child.name}}</a></p>    
                {% endif %}
            {% endfor %}
        {% elif forloop.parentloop.counter == 1 and forloop.counter == 1%}
            {% for child in nodes %}
                {% if child.parent == node and child.name not in names_list %}
                    <p>CHILD: <a href="{{child.url}}">{{child.name}}</a></p>    
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
<hr>
